<!--<div id="body" style="margin-top:10%;color:#A8A8A8;">-->
  <!--<div id="question">-->
    <!--<div id="question_title" style="position:relative;margin-top:2.5%;height : 1% ;color:#A8A8A8;margin-left:5%;">-->
      <!--<P style="font-size : 30px;">-->
        <!--TITLE1-->
      <!--</P>-->
    <!--</div>-->
    <!--<div id="question_body"style="position:relative;margin-top:5%;height : 2% ;color:#A8A8A8;margin-left:5%;">-->
      <!--<P style="font-size : 15px;">-->
        <!--question body-->
      <!--</P>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div id="question">-->
    <!--<div id="question_title" style="position:relative;margin-top:2.5%;height : 1% ;color:#A8A8A8;margin-left:5%;">-->
      <!--<P style="font-size : 30px;">-->
        <!--TITLE2-->
      <!--</P>-->
    <!--</div>-->
    <!--<div id="question_body"style="position:relative;margin-top:5%;height : 2% ;color:#A8A8A8;margin-left:5%;">-->
      <!--<P style="font-size : 15px;">-->
        <!--question body-->
      <!--</P>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container">
  <div class="card" style="margin: 1em;">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card" style="margin: 1em;">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
