<div id="left" style="margin-left : 0%; width: 80%; margin-top: 0%;position: absolute;">
  <div style="margin-left : 50%;">
  <h2>Add new tag:</h2>
  <input type="text" name="tag"><br><button style="margin-left : 12.5%;" type="button" class="btn btn-info">Add</button><br>
</div>
  <br>
  <br>
  <h2>Matching questions with your tags:</h2>
  <div class="card" style="margin: 1em;">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <h6 class="card-subtitle mb-2 text-muted">Tag1, Tag2, Tag3</h6>
      <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Show question context</button>
        <div id="demo1" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <a style="margin: 1em;" href="#" class="card-link">Show answers</a>
    </div>
  </div>
  <div class="card" style="margin: 1em;">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <h6 class="card-subtitle mb-2 text-muted">Tag1, Tag2, Tag3</h6>
      <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Show question context</button>
        <div id="demo2" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <a style="margin: 1em;" href="#" class="card-link">Show answers</a>
    </div>
  </div>
</div>
<div id="right" style="margin-left :80%; width: 15%;margin-top:20%;position: absolute;">
  <button type="button" class="btn btn-info">My question is something else</button>
</div>
