

<div class="container">
  <div class="card" style="margin: 1em;">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <button type="button" class="btn btn-primary" style="font-size: x-small">tag</button>
      <div class="container">
        <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    </div>
  </div>



  <div id="answer" style="margin-left: 4%">
    <div class="card-block">
      <h5 class="card-title">Answerer's name</h5>
      <div class="container">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <a style="margin: 1em;" href="#" class="card-link">plus<span style="font-size: x-large">+</span></a>
    </div>
  </div>







  <div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Add a new answer</button>
    <div id="demo1" class="collapse">
      <textarea style="width:50%;min-height:20%;margin-top: 2.5%;"></textarea>
      <button type="button" class="btn btn-info" style="position: absolute; margin-top: 3%;margin-left: 1%;">Add</button>
    </div>
  </div>
</div>
