<div id="body" style="margin-top:10%;">
  <div id="question">
    <div id="question_title" style="position:relative;margin-top:2.5%;height : 1% ;color:#000000;margin-left:5%;">
      <P style="font-size : 30px;">
        TITLE1
      </P>
    </div>
    <div id="question_body"style="position:relative;margin-top:3.5%;height : 1% ;color:#A8A8A8;margin-left:5%;">
      <P style="font-size : 15px;">
        question body
      </P>
    </div>
  </div>
  <div id="question">
    <div id="question_title" style="position:relative;margin-top:2.5%;height : 1% ;color:#000000;margin-left:5%;">
      <P style="font-size : 30px;">
        TITLE2
      </P>
    </div>
    <div id="question_body"style="position:relative;margin-top:3.5%;height : 1% ;color:#A8A8A8;margin-left:5%;">
      <P style="font-size : 15px;">
        question body
      </P>
    </div>
  </div>
</div>
position:absolute;
width : 50%;
float : left;
background-color : #b8b8b8;
height : 100% ;

