<div class="container">
  <h3>Setting</h3>

  <!--

  :username here

  -->
  <img style="margin-left: 45%;width: 10%;height: 10%;" src="/users/kil/pic" class="img-circle" alt="Cinque Terre" width="304" height="236" >
  <br>
  <br>
  <div style=" margin-left: 43.25%;" >
  <button type="button" class="btn btn-info" onclick="sendAnswer()">Change avatar</button>
  </div>
  <br>
  <form>
    <div style=" margin-left: 0%;" >
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1" onclick="sendAnswer()">Change email</button>
    </div>
    <br>
    <div id="demo1" class="collapse">
      <div class="input-group">
      <span class="input-group-addon">new email</span>
      <input id="msg" type="text" class="form-control" name="msg" placeholder="user's email">
    </div>
    </div>
    <br>
    <div style=" margin-left: 0%;" >
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2" onclick="sendAnswer()">Change username</button>
    </div>
    <br>
    <div id="demo2" class="collapse">
      <div class="input-group">
        <span class="input-group-addon">new username</span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="user's username">
      </div>
    </div>
    <br>
    <div style=" margin-left: 0%;" >
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" onclick="sendAnswer()">Change password</button>
    </div>
    <br>
    <div id="demo3" class="collapse">
      <div class="input-group">
        <span class="input-group-addon">new password</span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="user's password">
      </div>
    </div>
    <br>
    <br>

  </form>
  <br>
  <div class="checkbox">
    <div style="margin-left: 0%; position: absolute; margin-top: 0%;">
      <label><input type="checkbox" value=""> show my avatar to other users</label>
    </div>
    <div style="margin-left: 50%; position: absolute; margin-top: 0%;">
      <label><input type="checkbox" value=""> show my email to other users</label>
    </div>
  </div>
  <br>
  <br>
  <div style=" margin-left: 90%; position: relative;" >
    <button type="button" class="btn btn-info" onclick="sendAnswer()">Save changes</button>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
